.hero{

padding-top:150px;
background:#ffffff;

}


.hero-container{

max-width:1200px;
margin:auto;

display:grid;

grid-template-columns:1fr 1fr;

align-items:center;

gap:60px;

}



.hero-tag{

display:inline-block;

color:#1565ff;

font-size:14px;

font-weight:700;

letter-spacing:1px;

margin-bottom:20px;

}



.hero h1{

font-size:52px;

line-height:1.15;

color:#111827;

margin-bottom:25px;

}



.hero p{

font-size:18px;

color:#4b5563;

max-width:550px;

}



.hero-buttons{

display:flex;

gap:20px;

margin-top:35px;

}



.primary-button,
.secondary-button{

padding:15px 32px;

border-radius:50px;

text-decoration:none;

font-weight:700;

transition:.3s;

}



.primary-button{

background:#1565ff;

color:white;

}



.secondary-button{

border:2px solid #1565ff;

color:#1565ff;

}



.primary-button:hover{

transform:translateY(-3px);

}



.secondary-button:hover{

background:#1565ff;

color:white;

}



.hero-image img{

width:100%;

height:500px;

object-fit:cover;

border-radius:30px;

}




@media(max-width:768px){


.hero{

padding-top:130px;

}



.hero-container{

grid-template-columns:1fr;

gap:40px;

}



.hero h1{

font-size:34px;

}



.hero p{

font-size:16px;

}



.hero-buttons{

flex-direction:column;

}



.primary-button,
.secondary-button{

text-align:center;

width:100%;

}



.hero-image img{

height:300px;

}



}