.services{

padding:100px 20px;
background:white;

}


.services-container{

max-width:1100px;
margin:auto;

}


.services-grid{

margin-top:50px;

display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;

}


.service-card{

padding:35px;
background:#fff;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}


.service-card h3{

font-size:20px;
color:#111827;

}


.service-card p{

color:#6b7280;
line-height:1.6;

}



@media(max-width:768px){

.services{

padding:70px 20px;

}


.services-grid{

grid-template-columns:1fr;

}


.service-card{

padding:25px;

}

}
